body {
    display: flex;
    flex-direction: column;
}

.title {
    display: flex;
    flex-direction: column;
 background-color: #1F2937;
}

.header {
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    font-size: 18px;
    color: #E5E7EB;
    list-style: none;
    gap: 16px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.container {
    display: flex;
    margin-top: 24px;
}

.intro {
    flex: display;
    margin-right: 16px;
}

.intro_title {
    font-size: 48px;
    color: #F9FAF8;
}

.intro_text {
    font-size: 18px;
    color: #E5E7EB;
}