body {
    display: flex;
    flex-direction: column;
}

/*    Section 1     */

.title {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 8px 112px 12px 112px;
}

ul {
    display: flex;
    font-size: 18px;
    color: #E5E7EB;
    list-style: none;
    gap: 16px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.container {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
    padding-left: 52px;
    padding-right: 52px;
    margin-bottom: 52px;
    padding: 8px 112px 12px 112px;
}

.intro {
    flex: display;
    margin-right: 16px;
}

.intro_title {
    font-size: 48px;
    color: #F9FAF8;
}

.intro_text {
    font-size: 18px;
    color: #E5E7EB;
}
.button {
    background-color: #3882F6;
    color: white;
    border: none;
    padding: 4px 12px;
    text-decoration: none;
    display: inline-block;
}

/*    Section 2     */

.title1 {
    display: flex;
    justify-content: center;
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
    padding: 16px;
}

.strategy {
    display: flex;
    gap: 16px;
    padding: 0 112px 36px 112px;
}

.info {
    display: flex;
    flex-direction: column;
}

/*     Section 3    */

.quote {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    padding-left: 112px;
    padding-right: 112px;
    padding-top: 52px;
    padding-bottom: 36px;
}

.words {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    font-weight: 200;
}

.signature {
    display: flex;
    justify-content: end;
    font-weight: 600;
}

/*       Section 4    */

.action {
    display: flex;
    padding: 52px 112px 52px 112px;
}
.happiness {
    display: flex;
    flex-direction: column;
    background-color: #3882F6;
    color: white;
    padding: 26px 52px 26px 52px;
}

.info_header {
    font-size: 16px;
    font-weight: 800;
}

.closing {
    font-size: 12px;
    white-space: nowrap;
}

.button_container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3882F6;
    padding: 26px 52px 26px 8px;
}

.button_action {
    border: 2px solid white;
    border-color: white;
    color: white;
    font-size: 12px;
    padding: 4px 16px;
    white-space: nowrap;
}

.footer {
    display: flex;
    background-color: #1F2937;
    color: white;
    justify-content: center;
    padding: 12px;

}